#root {
  --dark-1: 36, 37, 44;
  --dark-2: 53, 54, 66;
  --dark-3: 61, 61, 76;
  --dark-4: 75, 76, 88;
  --text-color: 238, 238, 238;
  --light-1: 255, 205, 210;
  --light-2: 239, 154, 154;
  --light-3: 229, 115, 115;
  --light-4: 239, 83, 80;
  --light-5: 244, 67, 54;
  --light-6: 229, 57, 53;
  --light-7: 211, 47, 47;
  --light-8: 198, 40, 40;
  --light-9: 183, 28, 28;
  --dialog-0: 238, 238, 238;
  --icons: 238, 238, 238;
}
#root.blue {
  --light-1: 92, 202, 207;
  --light-2: 69, 195, 201;
  --light-3: 46, 187, 194;
  --light-4: 23, 180, 187;
  --light-5: 0, 173, 181;
  --light-6: 0, 158, 165;
  --light-7: 0, 142, 149;
  --light-8: 0, 126, 132;
  --light-9: 0, 111, 116;
}
