/* Copyright © Imesh Chamara 2019 */
@import 'common';
body, a, span, p, textarea {
  font-family: Roboto,Helvetica,'Segoe UI Emoji',-apple-system,BlinkMacSystemFont,Arial,'IC Noto Sans Sinhala','Segoe UI',Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue', sans-serif;
  color: row-col(text-color);
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(224, 224, 224);
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 46px rgba(0, 0, 0, 0.5);
  position: relative;
}
.ICApp {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-image: url('assets/artboard-2.png');
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 400px) {
  .ICApp {
    background-size: 80% auto;
  }
}
.ICPage {
  width: 100%;
  height: 100%;
  background-color: row-col(dark-1);
  overflow-y: auto;
  .loading-ani {
    margin: 0 auto;
  }
  .ic-btn0 {
    display: inline-block;
    border: 0;
    margin: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: row-col(light-4);
    font-size: 14px;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.46);
    color: #eee;
    transition-duration: .3s;
    text-decoration: none;
  }
  .ic-btn0.s1 {
    background-color: row-col(light-6);
  }
  .ic-btn0:not(.dis):active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.46);
    background-color:  row-col(light-8);
  }
  .ic-btn0.dis {
    background-color: rgb(187, 187, 187);
  }
}
