/* Copyright © Imesh Chamara 2019 */
@import 'main';
.ICPage {
  span {
    text-align: center;
    &.c1 {
      color: row-col(light-7);
      font-size: 24px !important;
    }
    &.c2 {
      color: row-col(light-7);
      font-size: 14px !important;
      padding: 10px 0;
    }
    &.c3 {
      font-size: 19px;
    }
  }
  &.load {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      color: row-col(text-color);
    }
  }
  &.c1 {
    > div, &, form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    > div {
      width: 80%;
      max-width: 400px;
      margin: 0 auto;
      background-color: row-col(dark-2);
      padding: 10px 20px;
      border-radius: 8px;
      box-shadow: 0 0 26px #0006;
    }
    &.c2 {
      > div {
        > div {
          padding-top: 16px;
          width: 100%;
          max-width: 280px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;
        }
      }
    }
  }
  &.Main {
    /*background-image: url('/assets/back-0.jpg');
    background-size: cover;
    background-position: center top;*/
    form {
      .ic-btn0 {
        float: right;
      }
    }
  }
  .ico {
    width: 80% !important;
    max-width: 200px !important;
    svg {
      color: row-col(light-5);
    }
  }
}
