/* Copyright © Imesh Chamara 2019 */
$default-transition: .3s;
@function col($v) {
  @return unquote("rgb(var(--ic-c-#{$v}))");
}
@import 'main.scss';

.ICApp {
  >.c1{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.load {
  span {
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
  }
}
.Main {
  background-color: #eee;
  > div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-width: 1000px;
    max-height: 480px;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 24px #0006;
    > div {
      height: 100%;
    }
    span {
      text-align: center;
      padding: 10px 0;
      &.c1 {
        font-size: 28px;
      }
      &.c3 {
        overflow-y: auto;
        font-size: 19px;
        div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
        }
        a {
          color: col(i5);
          text-decoration: none;
          svg {
            width: 30px;
            min-height: 30px;
            height: auto;
            color: #666;
            margin: 6px;
            &:hover, &:active {
              color: col(i5);
            }
          }
        }
      }
    }
    > div {
      &.c1 {
        width: 40%;
        background-position: top center;
        background-size: cover;
        border-radius: 6px 0 0 6px;
        flex-shrink: 0;
      }
      &.c2 {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }
    label {
    position: absolute;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    .c1 {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0 0 10px #0006;
      background-color: #fff;
      opacity: .5;
      transition-duration: $default-transition;
      box-sizing: border-box;
      padding: 6px;
      &:hover {
        opacity: 1;
      }
      div {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: col(i6);
        margin: 2px auto;
      }
    }
    .c2 {
      display: none;
      flex-direction: column;
      > * {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
    input {
      display: none;
      &:checked {
        & ~ .c2 {
          display: flex;
        }
        & + .c1 {
          opacity: 1;
          background-color: col(i5);
          div {
            background-color: #fff;
          }
        }
      }
    }
    a {
      color: col(i5);
      background-color: #fff;
      padding: 8px !important;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      cursor: pointer;
      box-shadow: 0 0 10px #0006;
      margin: 6px auto;
      transition-duration: $default-transition;
      &:hover {
        color: #fff;
        background-color: col(i5);
      }
    }
  }
}
@media (orientation:portrait), (min-height: 480px) and (max-width: 680px) {
  .Main > div {
    max-width: 480px;
    max-height: 100%;
    height: auto;
    overflow-y: auto;
    flex-direction: column;
    justify-content: start;
    > div {
      width: 100% !important;
      height: auto;
    }
  }
}
.edit {
  > div {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 26px #0006;
    overflow-y: auto;
    &, form {
      &, & > *{
        display: block;
      }
    }
    div.c1 {
      padding-top: 16px;
    }
    .ic-btn0 {
      float: right;
    }
  }
  span {
    text-align: center;
    &.c1 {
      color: col(i7);
      font-size: 24px !important;
    }
    &.c2 {
      color: col(i7);
      font-size: 14px !important;
      padding: 10px 0;
    }
    &.c3 {
      font-size: 19px;
    }
  }
  .inputui.img {
    div {
      width: 78vw;
      height: 78vw;
      max-width: 396px;
      max-height: 396px;
      border: 2px solid #ccc;
      margin: 0 auto;
      background-position: top center;
      background-size: cover;
    }
    .ic-btn0 {
      display: block;
      float: inherit;
      width: 80%;
      max-width: 260px;
      margin: 10px auto;
    }
  }
}
