/* Copyright © Imesh Chamara 2019 */
$default-transition: .3s;
@function col($v) {
  @return unquote("rgb(var(--ic-c-#{$v}))");
}
@import 'main.scss';
.ICPage {
  span {
    text-align: center;
    &.c1 {
      color: row-col(light-7);
      font-size: 24px !important;
    }
    &.c2 {
      color: row-col(light-7);
      font-size: 14px !important;
      padding: 10px 0;
    }
    &.c3 {
      font-size: 19px;
    }
  }
  &.load {
    span {
      color: row-col(text-color);
    }
  }
  > div, &, div.c1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.c1 {
    > div {
      width: 80%;
      max-width: 400px;
      margin: 0 auto;
      background-color: row-col(dark-2);
      padding: 10px 20px;
      border-radius: 8px;
      box-shadow: 0 0 26px #0006;
      .ic-btn0{
        width: calc(100% - 40px);
        max-width: 280px;
        margin: 0 auto;
      }
    }
  }
  div.c1 {
    margin-top: 10px;
  }
  .ico {
    width: 80% !important;
    max-width: 200px !important;
    margin: 0 auto;
    svg {
      color: row-col(light-5);
    }
  }
  form div.c1 {
    display: block;
    .ic-btn0 {
      width: auto;
      padding: 8px 16px;
      float: right;
    }
  }
}
